<!DOCTYPE html>
<html lang="en">
<head>
    <title>ACTIVIDAD JEANMARIE VASCONCELOS</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
</head>
<body style="background-color: rgb(208, 244, 206);">
        <H1>
            <p style="color:rgb(5, 114, 138)", style="text-align:center;" >Jeanmarie Vasconcelos</p>
            <p style="color:rgb(5, 114, 138)", style="text-align: center;">C.I:30.396.831</p>
            <p style="color:rgb(5, 114, 138)", style="text-align: center">Sección:2</p>
        </H1>
    
</body>
</style>
</html>